<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   
  </head>

  <body class="d-flex">

    <nav class="nav bg-light">
      <div class="container-fluid px-0 d-flex flex-column align-items-start">
        <img class="nav-img " src="../assets/images/logo-ANSWER.svg" alt="answer">
        <ul class="list-unstyled d-flex flex-column m-0">
          <li class="nav-list1">
             <a class=" d-flex"  href="#">
               <span class="material-symbols-outlined me-3">
                insert_chart
               </span>
               Dashboard
            </a>
         </li>   

        <li class="nav-list2 ">
           <a class=" d-flex" href="#">
            <span class="material-symbols-outlined me-3">
              forum
              </span>
              Question
          </a>
       </li>

      <li class="nav-list3">
         <a class=" d-flex" href="#">
          <span class="material-symbols-outlined me-3">
            assignment
            </span>
            Assignment
        </a>
     </li>
  
    <li class="nav-list4">
       <a class=" d-flex" href="#">
        <span class="material-symbols-outlined me-3">
          video_library
          </span>
          Course
      </a>
   </li>

  <li class="nav-list5">
     <a class=" d-flex" href="#">
      <span class="material-symbols-outlined me-3">
        group
        </span>
        Admin
    </a>
 </li>

  <li class="nav-list6">
     <a class=" d-flex" href="#">
      <span class="material-symbols-outlined me-3">
        settings
        </span>
        Settings
    </a>
 </li>
 </ul>
</div><!--container-->

     <!--Andy Chen-navbar-->
     <div class="nav-andy d-flex">
      <img class="nav-andy-img me-2" src="../assets/images/andychen.jpeg" alt="Andy">
      <div>
      <h5 class="andy-title fw-bold mb-1 fs-6">Andy Chen</h5>
      <p class="andy-email">andy0401@mail.com</p>
      </div>
    </div>
  

    </nav>
 

  

    <%- contents %>
    

    <footer class="footer">
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>