.nav{
  background-color:  #F8F9FA;
   width:296px;
  
  padding-top: 32px;
.list-unstyled{
  li{
    padding-left: 32px;
  }
}
  .nav-andy-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  .nav-andy{
    padding-left: 32px;
  }
  .andy-email{
    color:#6C757D;
    font-size: 14px;
  } 
}
.nav-img{
  margin-left: 32px;
  margin-bottom: 28px;
}
.nav-list1,.nav-list2,.nav-list3,.nav-list4,.nav-list5,.nav-list6{
    padding:2px 0px ;
    border-left: 4px solid transparent;
  &:hover{
    border-left: 4px solid #198754;
    .material-symbols-outlined{
      color:#198754;
    }
    a{
      color:#198754;
    }
  }
}
.nav-list2,.nav-list3,.nav-list4,.nav-list5,.nav-list6{
  margin-top: 20px;
}